In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import lit, trim, col, regexp_replace

In [2]:
# initialize SparkSession
spark = SparkSession.builder \
    .appName("Streaming Platform Analyze") \
    .getOrCreate()

24/11/12 14:54:26 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

### Data Preparation

In [3]:
# paths to CSVs
csv_apple_data = "gs://raw-platform-data/apple_data.csv"
csv_netflix_data = "gs://raw-platform-data/netflix_data.csv"
csv_hbo_data = "gs://raw-platform-data/hbo_data.csv"
csv_amazon_data = "gs://raw-platform-data/amazon_data.csv"

In [4]:
# function to load a CSV into df
def load_csv_to_df(file_path):
    try:
        df = spark.read.format("csv") \
            .option("header", "true") \
            .option("inferSchema", "true") \
            .option("quote", '"') \
            .option("escape", '"') \
            .load(file_path)
        return df
    except Exception as e:
        print(f"Error reading file {file_path}: {e}")
        return None

In [5]:
# load data to df
df_apple = load_csv_to_df(csv_apple_data)
df_netflix = load_csv_to_df(csv_netflix_data)
df_hbo = load_csv_to_df(csv_hbo_data)
df_amazon = load_csv_to_df(csv_amazon_data)

In [6]:
df_apple = df_apple.withColumn("platform", lit("Apple TV+"))
df_netflix = df_netflix.withColumn("platform", lit("Netflix"))
df_hbo = df_hbo.withColumn("platform", lit("HBO Max"))
df_amazon = df_amazon.withColumn("platform", lit("Amazon Prime"))

In [7]:
combined_df = df_netflix.unionByName(df_apple) \
                           .unionByName(df_hbo) \
                           .unionByName(df_amazon)

### Data exploration and cleaning

In [8]:
combined_df.show(10)

+--------------------+-----+--------------------+-----------+---------+-----------------+------------+--------------------+--------+
|               title| type|              genres|releaseYear|   imdbId|imdbAverageRating|imdbNumVotes|  availableCountries|platform|
+--------------------+-----+--------------------+-----------+---------+-----------------+------------+--------------------+--------+
|        Forrest Gump|movie|      Drama, Romance|       1994|tt0109830|              8.8|     2316975|                  MX| Netflix|
|   The Fifth Element|movie|Action, Adventure...|       1997|tt0119116|              7.6|      517225|          AT, CH, DE| Netflix|
|   Kill Bill: Vol. 1|movie|Action, Crime, Th...|       2003|tt0266697|              8.2|     1222077|AE, AL, AO, AT, A...| Netflix|
|             Jarhead|movie|Biography, Drama,...|       2005|tt0418763|              7.0|      211593|AD, AE, AG, AL, A...| Netflix|
|          Unforgiven|movie|      Drama, Western|       1992|tt0105695|              8.2|      443878|AU, BA, BG, CZ, H...| Netflix|
|Eternal Sunshine ...|movie|Drama, Romance, S...|       2004|tt0338013|              8.3|     1104135|AD, AE, AG, AL, A...| Netflix|
|       Amores Perros|movie|     Drama, Thriller|       2000|tt0245712|              8.0|      256616|AG, AR, BB, BM, B...| Netflix|
|A History of Viol...|movie|Action, Crime, Drama|       2005|tt0399146|              7.4|      259071|AD, CA, ES, GB, G...| Netflix|
|2001: A Space Ody...|movie|   Adventure, Sci-Fi|       1968|tt0062622|              8.3|      735274|              AU, NZ| Netflix|
|         Talk to Her|movie|Drama, Mystery, R...|       2002|tt0287467|              7.9|      118722|AG, AR, BB, BO, B...| Netflix|
+--------------------+-----+--------------------+-----------+---------+-----------------+------------+--------------------+--------+
only showing top 10 rows

In [9]:
combined_df.printSchema()

root
 |-- title: string (nullable = true)
 |-- type: string (nullable = true)
 |-- genres: string (nullable = true)
 |-- releaseYear: integer (nullable = true)
 |-- imdbId: string (nullable = true)
 |-- imdbAverageRating: double (nullable = true)
 |-- imdbNumVotes: integer (nullable = true)
 |-- availableCountries: string (nullable = true)
 |-- platform: string (nullable = false)

In [10]:
# convert releaseYear to int and imdbAverageRating to double
combined_df = combined_df.withColumn("releaseYear", col("releaseYear").cast("int")) \
                            .withColumn("imdbAverageRating", col("imdbAverageRating").cast("double"))

In [11]:
combined_df.select('type').distinct().show()

+-----+
| type|
+-----+
|   tv|
|movie|
+-----+

In [12]:
# verifing rows with "'Tis Time for" in the title for specific movie 
# to confirm quoted fields were handled correctly during csv parsing

# combined_df.filter(trim(combined_df['title']) == '"" Princess"').show()
combined_df.filter(combined_df["title"].like("%'Tis Time for%")).show()

+--------------------+----+--------------------+-----------+----------+-----------------+------------+--------------------+------------+
|               title|type|              genres|releaseYear|    imdbId|imdbAverageRating|imdbNumVotes|  availableCountries|    platform|
+--------------------+----+--------------------+-----------+----------+-----------------+------------+--------------------+------------+
|'Tis Time for "To...|  tv|Animation, Comedy...|       2024|tt30643998|              6.4|         221|HK, ID, IN, JP, M...|     Netflix|
|'Tis Time for "To...|  tv|Animation, Comedy...|       2024|tt30643998|              6.4|         221|                  JP|Amazon Prime|
+--------------------+----+--------------------+-----------+----------+-----------------+------------+--------------------+------------+

In [13]:
# replace '&' with ',' in the genres column
combined_df = combined_df.withColumn("genres", regexp_replace("genres", "&", ","))
combined_df.select("genres").distinct().show()

+--------------------+
|              genres|
+--------------------+
|Animation, Comedy...|
|Documentary, Hist...|
|       Family, Short|
|Drama, Musical, R...|
|Drama, Romance, T...|
|   Documentary, News|
|      Music, Romance|
|Drama, Family, Th...|
|      Musical, Short|
|Adventure, Horror...|
|Drama, Fantasy, M...|
|Romance, Family, ...|
|  Family, Reality-TV|
|      Family, Sci-Fi|
|Adventure, Family...|
|Drama, Sci-Fi , F...|
|Comedy, Music, Mu...|
| Crime, Drama, Sport|
|Comedy, Horror, T...|
|Comedy, Family, M...|
+--------------------+
only showing top 20 rows

In [14]:
# validating columns imdbAverageRating and releaseYear
invalid_imdb_rating = combined_df.filter((combined_df["imdbAverageRating"] < 0) | (combined_df["imdbAverageRating"] > 10))
invalid_imdb_rating.show()

+-----+----+------+-----------+------+-----------------+------------+------------------+--------+
|title|type|genres|releaseYear|imdbId|imdbAverageRating|imdbNumVotes|availableCountries|platform|
+-----+----+------+-----------+------+-----------------+------------+------------------+--------+
+-----+----+------+-----------+------+-----------------+------------+------------------+--------+

In [15]:
invalid_year = combined_df.filter((combined_df["releaseYear"] < 1900) | (combined_df["releaseYear"].isNull()))
# invalid_year.count() # 219
invalid_year.show()

+--------------------+-----+--------------------+-----------+------+-----------------+------------+--------------------+---------+
|               title| type|              genres|releaseYear|imdbId|imdbAverageRating|imdbNumVotes|  availableCountries| platform|
+--------------------+-----+--------------------+-----------+------+-----------------+------------+--------------------+---------+
|Rudra: Secret of ...|movie|                NULL|       NULL|  NULL|             NULL|        NULL|AE, AG, AL, AO, A...|  Netflix|
|  Ahead of the Curve|movie|                NULL|       NULL|  NULL|             NULL|        NULL|AU, CA, FJ, GB, G...|  Netflix|
|                NULL|   tv|                NULL|       NULL|  NULL|             NULL|        NULL|          PH, SG, TW|  Netflix|
|                NULL|   tv|Drama, Crime, Mys...|       NULL|  NULL|             NULL|        NULL|                  CA|  Netflix|
|                NULL|   tv|           Animation|       NULL|  NULL|             NULL|        NULL|AD, AE, AG, AL, A...|  Netflix|
|                NULL|   tv|                NULL|       NULL|  NULL|             NULL|        NULL|AG, AL, AO, AU, A...|  Netflix|
|                NULL|   tv|                NULL|       NULL|  NULL|             NULL|        NULL|AD, AE, AG, AL, A...|  Netflix|
|                NULL|   tv|  Action , Adventure|       NULL|  NULL|             NULL|        NULL|                  KR|  Netflix|
|                NULL|   tv|                NULL|       NULL|  NULL|             NULL|        NULL|CI, CV, GH, GQ, K...|  Netflix|
|                NULL|   tv|               Drama|       NULL|  NULL|             NULL|        NULL|AD, AE, AG, AL, A...|  Netflix|
|                NULL|   tv|                NULL|       NULL|  NULL|             NULL|        NULL|                  KR|  Netflix|
|                NULL|   tv|                NULL|       NULL|  NULL|             NULL|        NULL|AE, AG, AL, AR, A...|  Netflix|
|                NULL|   tv|      Drama, Mystery|       NULL|  NULL|             NULL|        NULL|AD, AE, AG, AL, A...|  Netflix|
|                NULL|   tv|                NULL|       NULL|  NULL|             NULL|        NULL|AG, AO, AR, AU, B...|  Netflix|
|                NULL|   tv|                NULL|       NULL|  NULL|             NULL|        NULL|FJ, HK, ID, IN, J...|  Netflix|
|              Natudu|movie|   Romance, Thriller|       NULL|  NULL|             NULL|        NULL|              IN, US|Apple TV+|
|Kadhalikka Nerami...|movie|Romance, Fantasy,...|       NULL|  NULL|             NULL|        NULL|                  US|Apple TV+|
|                NULL|   tv|               Drama|       NULL|  NULL|             NULL|        NULL|                  US|Apple TV+|
|                NULL|   tv|                NULL|       NULL|  NULL|             NULL|        NULL|          AU, CA, US|Apple TV+|
|                NULL|   tv|                NULL|       NULL|  NULL|             NULL|        NULL|              CA, US|Apple TV+|
+--------------------+-----+--------------------+-----------+------+-----------------+------------+--------------------+---------+
only showing top 20 rows

In [16]:
# drop rows where all specified columns are null, because they don't give us enough information
# columns_to_drop = ["genres", "releaseYear", "imdbId", "imdbAverageRating"]
# cleaned_df = combined_df.dropna(subset=columns_to_drop, how="all")

In [17]:
# split combined_df into two datasets based on the 'type' column
movies_df = combined_df.filter(combined_df["type"] == "movie")
tv_df = combined_df.filter(combined_df["type"] == "tv")

In [18]:
# drop type column
movies_df = movies_df.drop("type")
tv_df = tv_df.drop("type")

In [19]:
movies_df.show()

+--------------------+--------------------+-----------+---------+-----------------+------------+--------------------+--------+
|               title|              genres|releaseYear|   imdbId|imdbAverageRating|imdbNumVotes|  availableCountries|platform|
+--------------------+--------------------+-----------+---------+-----------------+------------+--------------------+--------+
|        Forrest Gump|      Drama, Romance|       1994|tt0109830|              8.8|     2316975|                  MX| Netflix|
|   The Fifth Element|Action, Adventure...|       1997|tt0119116|              7.6|      517225|          AT, CH, DE| Netflix|
|   Kill Bill: Vol. 1|Action, Crime, Th...|       2003|tt0266697|              8.2|     1222077|AE, AL, AO, AT, A...| Netflix|
|             Jarhead|Biography, Drama,...|       2005|tt0418763|              7.0|      211593|AD, AE, AG, AL, A...| Netflix|
|          Unforgiven|      Drama, Western|       1992|tt0105695|              8.2|      443878|AU, BA, BG, CZ, H...| Netflix|
|Eternal Sunshine ...|Drama, Romance, S...|       2004|tt0338013|              8.3|     1104135|AD, AE, AG, AL, A...| Netflix|
|       Amores Perros|     Drama, Thriller|       2000|tt0245712|              8.0|      256616|AG, AR, BB, BM, B...| Netflix|
|A History of Viol...|Action, Crime, Drama|       2005|tt0399146|              7.4|      259071|AD, CA, ES, GB, G...| Netflix|
|2001: A Space Ody...|   Adventure, Sci-Fi|       1968|tt0062622|              8.3|      735274|              AU, NZ| Netflix|
|         Talk to Her|Drama, Mystery, R...|       2002|tt0287467|              7.9|      118722|AG, AR, BB, BO, B...| Netflix|
|              8 Mile|        Drama, Music|       2002|tt0298203|              7.2|      330320|AD, AE, AG, AL, A...| Netflix|
|        Paradise Now|Crime, Drama, Thr...|       2005|tt0445620|              7.4|       24307|AE, BH, DZ, EG, I...| Netflix|
| Million Dollar Baby|        Drama, Sport|       2004|tt0405159|              8.1|      732832|          IT, SM, US| Netflix|
|        Billy Elliot|        Drama, Music|       2000|tt0249462|              7.7|      145894|          GB, GG, IE| Netflix|
|  American History X|        Crime, Drama|       1998|tt0120586|              8.5|     1207816|          AD, ES, PT| Netflix|
|   War of the Worlds|Action, Adventure...|       2005|tt0407304|              6.5|      482911|AG, AR, BB, BO, B...| Netflix|
|       Mars Attacks!|      Comedy, Sci-Fi|       1996|tt0116996|              6.4|      248581|      BE, CH, IT, SM| Netflix|
|      Before Sunrise|      Drama, Romance|       1995|tt0112471|              8.1|      348775|      AU, CY, NZ, TR| Netflix|
|             Memento|   Mystery, Thriller|       2000|tt0209144|              8.4|     1348453|                  KR| Netflix|
|                Hero|Action, Adventure...|       2002|tt0299977|              7.9|      189212|          HK, KR, US| Netflix|
+--------------------+--------------------+-----------+---------+-----------------+------------+--------------------+--------+
only showing top 20 rows

In [20]:
tv_df.show()

+--------------------+--------------------+-----------+---------+-----------------+------------+--------------------+--------+
|               title|              genres|releaseYear|   imdbId|imdbAverageRating|imdbNumVotes|  availableCountries|platform|
+--------------------+--------------------+-----------+---------+-----------------+------------+--------------------+--------+
|                NULL|              Comedy|       1996|     NULL|             NULL|        NULL|          HK, JP, TW| Netflix|
|    Sex and the City|Comedy, Drama, Ro...|       1998|tt0159206|              7.3|      148475|AG, AR, BA, BB, B...| Netflix|
|             7 vidas|              Comedy|       1999|tt0192877|              7.1|        1537|                  ES| Netflix|
|              Martin|Comedy, Drama, Ro...|       1992|tt0103488|              7.5|       11234|                  US| Netflix|
|            The Game|Comedy, Drama, Ro...|       2006|tt0772137|              6.8|        4892|                  US| Netflix|
|Avatar: The Last ...|Action, Adventure...|       2005|tt0417299|              9.3|      388347|AD, AE, AG, AO, A...| Netflix|
|           Star Trek|Action, Adventure...|       1966|tt0060028|              8.4|       95076|AD, AE, AG, AL, A...| Netflix|
|Star Trek: Enterp...|Action, Adventure...|       2001|tt0244365|              7.6|       60576|AD, AE, AG, AL, A...| Netflix|
|SpongeBob SquareP...|Animation, Comedy...|       1999|tt0206512|              8.2|      115396|AE, AG, AL, AO, A...| Netflix|
|          Still Game|              Comedy|       2002|tt0281491|              8.9|        9609|AG, AL, AO, AU, A...| Netflix|
|       Ghost Hunters|Reality-TV, Thriller|       2004|tt0426697|              6.3|        7338|                  US| Netflix|
|       Sesame Street|Adventure, Animat...|       1969|tt0063951|              8.1|       15847|              AU, NZ| Netflix|
|Star Trek: Deep S...|Action, Adventure...|       1993|tt0106145|              8.1|       72653|AD, AE, AG, AL, A...| Netflix|
| The Powerpuff Girls|Action, Adventure...|       1998|tt0175058|              7.3|       49220|AE, AG, AL, AO, A...| Netflix|
|                Reba|       Comedy, Drama|       2001|tt0284722|              6.8|       18335|                  US| Netflix|
|Star Trek: The Ne...|Action, Adventure...|       1987|tt0092455|              8.7|      139904|AD, AE, AG, AL, A...| Netflix|
|      Curious George|Adventure, Animat...|       2006|tt0449545|              7.2|        3752|                  JP| Netflix|
| Tom and Jerry Tales|Animation, Comedy...|       2006|tt0780438|              7.4|        4013|                  US| Netflix|
|    Chappelle's Show|       Comedy, Music|       2003|tt0353049|              8.8|       73291|                  US| Netflix|
|           Peep Show|              Comedy|       2003|tt0387764|              8.7|       68198|  BM, GB, GG, GI, IE| Netflix|
+--------------------+--------------------+-----------+---------+-----------------+------------+--------------------+--------+
only showing top 20 rows

### Data analysis and insights